{% load static wagtailuserbar blog_tags %}
{% load render_bundle from webpack_loader %}


<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        {% render_bundle 'main' 'css'%}
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="container">
        {% wagtailuserbar %}
        <nav class="navbar navbar-expand-lg mt-3">
            <div class="container-fluid">
                <div class="navbar-brand h1">{{ page.title }}</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">☰</span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        {% get_blog_list_pages as blog_list_pages %}
                        {% for blog_list_page in blog_list_pages %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ blog_list_page.get_url }}">{{ blog_list_page.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
        <hr class="m-0">
        {% block content %}{% endblock %}

        {# Global javascript #}
        {% render_bundle 'main' 'js'%}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
